body{
    margin: 0;
    background-color: azure;
}
header{
display: flex;
height: 250px;
overflow-y: hidden;
background: url(../actividad2/img/design1_image1.jpg)center 5px no-repeat;
justify-content: space-between;
}

nav a{
font-weight: 900;
padding-right: 50px;
background-color: aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 400 px;
padding: 4px 20px;
border-radius: 30px;

}

h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 80px;
color: blue;

}
.parte2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
     justify-content: center;
    background-color: aqua;
    border-color: black;
   
   
    }

    .parte3{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        display: flex;
         justify-content: center;
         justify-self: center;
       
       
        }

    
        .parte4{

            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            display: flex;
             justify-content: center;
             justify-self: center;
           
           
            }
            .parte5{

                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                display: flex;
                 justify-content: center;
                 justify-self: center;
               
               
                }
                .parte6{

                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    display: flex;
                     justify-content: center;
                     justify-self: center;
                   
                   
                    }
                    .parte7{

                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 20px;
                        display: flex;
                         justify-content: center;
                         justify-self: center;
                       
                       
                        }
                